In [3]:
import math

def compute_circle_area(radius):
    return math.pi * radius ** 2
radius = float(input("Enter the radius of the circle:"))
area = compute_circle_area(radius)
print("The area of the circle is:", area)

Enter the radius of the circle:3
The area of the circle is: 28.274333882308138

In [4]:
def student_details():
  name = input("Enter the student's name:")
  roll_number = input("Enter the student's roll number:")
  mark = float(input("Enter the student's mark:"))
  print(f"Name: {name}")
  print(f"Roll Number: {roll_number}")
  print(f"Mark: {mark}")
student_details()

Enter the student's name:ARUN
Enter the student's roll number:123
Enter the student's mark:77.6
Name: ARUN
Roll Number: 123
Mark: 77.6

In [10]:
def find_largest_number(numbers):
    if not numbers:
        return None
    largest_number = numbers[0]
    for number in numbers:
        if number > largest_number:
            largest_number = number
    return largest_number
numbers =[10,34,55,23,77,21]
largest_number = find_largest_number(numbers)

if largest_number is not None:
    print(f"The largest number in the list is: {largest_number}")
else:
    print("The list is empty.")

The largest number in the list is: 77

In [24]:
def sum_current_and_previous():
  previous_number = 0
  for current_number in range(10):
    sum_numbers = previous_number + current_number
    print(f"Current Number: {current_number},Previous Number: {previous_number},Sum: {sum_numbers}")
    previous_number =current_number
sum_current_and_previous()

Current Number: 0,Previous Number: 0,Sum: 0
Current Number: 1,Previous Number: 0,Sum: 1
Current Number: 2,Previous Number: 1,Sum: 3
Current Number: 3,Previous Number: 2,Sum: 5
Current Number: 4,Previous Number: 3,Sum: 7
Current Number: 5,Previous Number: 4,Sum: 9
Current Number: 6,Previous Number: 5,Sum: 11
Current Number: 7,Previous Number: 6,Sum: 13
Current Number: 8,Previous Number: 7,Sum: 15
Current Number: 9,Previous Number: 8,Sum: 17

In [25]:
def print_divisible_by_five(numbers):
    for number in numbers:
        if number % 5 == 0:
            print(number)
numbers = [10, 20, 33, 46, 55, 66, 45]
print("Numbers divisible by 5:")
print_divisible_by_five(numbers)

Numbers divisible by 5:
10
20
55
45

In [29]:
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False
    return True
number = int(input("Enter a number:"))
if is_prime(number):
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

Enter a number:5
5 is a prime number.

In [30]:
def reverse_list(input_list):
    reversed_list = []
    for i in range(len(input_list) - 1, -1, -1):
        reversed_list.append(input_list[i])
    return reversed_list
input_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
reversed_list = reverse_list(input_list)

print("Original list:", input_list)
print("Reversed list:", reversed_list)

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Reversed list: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [31]:
def print_pattern(rows):
    for i in range(1, rows + 1):
        print('*' * i)
rows = 4
print_pattern(rows)

*
**
***
****

In [32]:
def find_max_of_three(a, b, c):
    if a >= b and a >= c:
        return a
    elif b >= a and b >= c:
        return b
    else:
        return c
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))
max_number = find_max_of_three(num1, num2, num3)
print(f"The maximum of the three numbers is: {max_number}")

Enter the first number: 45
Enter the second number: 34
Enter the third number: 76
The maximum of the three numbers is: 76.0

In [33]:
def print_pattern(n):
  for i in range(1, n + 1):
        print('*' * i)
  for i in range(n - 1, 0, -1):
        print('*' * i)
rows = 5
print_pattern(rows)

*
**
***
****
*****
****
***
**
*