In [ ]:
st=input("Enter a string value:")
set1={}
for i in st:
  if i in set1:
    set1[i]+=1
  else:
    set1[i] = 1

print(set1)

Enter a string value:assembly sample output
{'a': 2, 's': 3, 'e': 2, 'm': 2, 'b': 1, 'l': 2, 'y': 1, ' ': 2, 'p': 2, 'o': 1, 'u': 2, 't': 2}

In [ ]:
def max_of_three(a, b, c):
  return max(a,b,c)

num1 = 34
num2 = 12
num3 = 7
print(f"The maximum of {num1},{num2},{num3} is {max_of_three(num1,num2,num3)}")

The maximum of 34,12,7 is 34

In [ ]:
def exponent(base, exp):
   return base ** exp
base = 2
exp = 3
print(f"{base} raised to the power of {exp} is {exponent(base, exp)}")

2 raised to the power of 3 is 8

In [ ]:
n=int(input("Enter the a positive integer :"))
k=0
for i in range(n):
  if i > 0:
    k+=i*i*i
print(k)

Enter the a positive integer :4
36

In [ ]:
for i in range(1,11):
  if i % 2==0 and i % 5 ==0:
    print("FizzBuzz")
  elif i % 2==0:
    print("Fizz")
  elif i % 5 ==0:
    print("Buzz")
  else:
      print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

In [ ]:
List = [3, 1, 3, 2, 3, 3]
def frequent(my_List):
    no = 0
    for i in my_List:
        now_freq = my_List.count(i)
        if(now_freq> no):
            no= now_freq
            num = i

    return num
print(frequent(List))

3

In [ ]:
my_list=[2,1,3,1]
k=0
for i in my_list:
  k+=i*i
print(k)

15

In [ ]:
for i in range(1,16):
  if i% 2==0:
    print(f"{i} even")
  else:
    print(f"{i} odd")

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd

In [ ]:
c=float(input("Enter the temperature in Fahrenheit :"))
cel=(c-32) * 5 / 9
print("Temperature in Celsius :",cel)

Enter the temperature in Fahrenheit :41
Temperature in Celsius : 5.0

In [ ]:
def factorial(num):
  fact=1
  if num < 0:
    print("Factorial does not exist")
  elif num == 0:
    print("The factorial of 0 is 1")
  else:
    for i in range(1,num + 1):
       fact = fact*i
    return fact
factorial(3)

6